<!--
    home for which will navigate to insert course page and search course page
-->
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>TSU/UCC</title>
        <link href="/LayoutScript/CSS/Style.css" rel="stylesheet" type="text/css" /> 
        <script src="/LayoutScript/JS/Navigation.js" type="text/javascript"></script>
    
    </head>
    
    <body>
    <br/>
 
        <header class = "headerTop">
         <h1 align="center">
              Texas Southern University<br>
              University Curriculum Council<br>
    _________________________________________________
<br><br>
          </h1>
        </header>        
        <div  class ="buttonLayout">
        
                <button id="InsertCourse">Add Course</button>
                <button id="SearchCourse" >Search for Course</button>
       
        </div>
        
        <footer>
    
        </footer> 
    </body>
    </html>